DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=0
COMMAND_PREFIX=!

QBITTORRENT_BASE_URL=http://127.0.0.1:8181
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=

PROWLARR_BASE_URL=http://127.0.0.1:9696
PROWLARR_API_KEY=

JELLYFIN_BASE_URL=http://127.0.0.1:8097
JELLYFIN_API_KEY=
JELLYFIN_MOVIES_LIBRARY_ID=
JELLYFIN_SHOWS_LIBRARY_ID=

COLLECTION_SOURCE=/mnt/AWA/Collection
COLLECTION_VIEW=/mnt/AWA/Collection/JellyfinView2
DATABASE_PATH=/home/jarod/Discord-Torrent-Bot/data/bot.db
POLL_SECONDS=10
JELLYFIN_TIMEOUT_SECONDS=600
TZ=America/Port_of_Spain
